    .logo_size {
        width: 60px;
        padding-right: 1%;
    }
    nav {
        font-family: "Segoe Script", "Segoe Script";
    }

    nav.bg-dark {
        background-color: #0026ff !important;
    }

    .space{
        margin-left: 10px;
    }




